/* 

.div1{
    margin-left:170px;
}

label {
        display: inline-block;
        width: 150px;
        text-align: right;
      }


#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  } */