body{
    font-size: 120%;
    background-image: url("Untitled\ design.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1555.714px 1100px;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin-top:100px;
    width:800px;
}

.header {
    width: 100%;
    /* margin: 50px auto 0px; */
    color: white;
    background: rgba(30, 67, 98, 0.8)  ;
    text-align: center;
    font-weight: bold;
    /*border: 1px solid #1e4362;*/
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    font-size: 30px;
    /* padding: 20px; */
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #1e4362;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 40px;
}